# Ignore everything except what we specify with negations (lines starting with "!")
*

# Include files ending with slash (a.k.a. directories)
!*/

# Include some important git stuff (from the root directory)
!/LICENSE
!/.gitignore
!/README.md

# Include bspwm-related stuff
!/bspwm/bspwmrc
!/sxhkd/sxhkdrc