# Ignore everything except what we specify with negations (lines starting with "!")
*

# Exclude some weird stuff that kept insisting on being tracked by git...
/lite-xl/lpm/**/*

# Include files ending with slash (a.k.a. directories)
!*/


# Include some important git stuff (from the root directory)
!/LICENSE
!/.gitignore
!/README.md



# * ############################################################################
# * Shell (bash, fish) and Terminal (Kitty) related stuff
# * ############################################################################

# Fish shell
!/fish/config.fish
!/fish/fish_variables

# Kitty terminal emulator
!/kitty/kitty.conf



# * ############################################################################
# * Text editor configs
# * ############################################################################

# Micro
!/micro/bindings.json
!/micro/settings.json



# * ############################################################################
# * Window Manager (X11) and desktop environment related stuff
# * ############################################################################

# Include bspwm-related stuff
!/bspwm/bspwmrc
!/sxhkd/sxhkdrc

# Top bar — Polybar
!/polybar/config.ini
!/polybar/launch.sh

# Notifications — dDunst 
!/dunst/dunstrc

# Wallpapers — Nitrogen
!/nitrogen/nitrogen.cfg

# App launcher — rofi
!/rofi/arc_dark_colors.rasi
!/rofi/arc_dark_transparent_colors.rasi
!/rofi/config.rasi
!/rofi/powermenu.rasi
!/rofi/powermenu.sh

####################
# Some cherry picked apps from xfce4
#
# Thunar! Also, xfce4 settings manager is pretty useful, so I use it for some stuff

# Misc configs
!/xfce4/xfconf/xfce-perchannel-xml/keyboards.xml
!/xfce4/xfconf/xfce-perchannel-xml/keyboard-layout.xml
!/xfce4/xfconf/xfce-perchannel-xml/displays.xml
!/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml

# File manager (GUI) — Thunar
!/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
####################

# Mime associations (default apps to open each file type)
!/mimeapps.list



# * ############################################################################
# * GTK 3.0 stuff
# * ############################################################################

!/gtk-3.0/settings.ini
!/gtk-3.0/gtk.css
!/gtk-3.0/bookmarks



# * ############################################################################
# * Audio
# * ############################################################################

# pipewire
!/pipewire/pipewire-pulse.conf

# Audio — easyeffects presets and autoload configurations
!/easyeffects/output/**/*
!/easyeffects/autoload/**/*
fsearch/fsearch.conf



# * ############################################################################
# * Video player configs
# * ############################################################################

# mpv
!/mpv/mpv.conf



# * ############################################################################
# * Gaming related software
# * ############################################################################

# Benchmarking and monitoring — MangoHud
!/MangoHud/MangoHud.conf

# Pergormance tweaking — Gamemode
!/gamemode.ini



# * ############################################################################
# * Miscellaneous
# * ############################################################################

# Calculator — speedcrunch
!/SpeedCrunch/SpeedCrunch.ini

# Global searching — fsearch
!/fsearch/fsearch.conf
